In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
df = pd.read_csv("../../scrapyproject/scrapyproject/file/naverPlace/여행랭크.csv")

In [4]:
df

,addr,category,context,id1,name,rank
0,강원도 홍천군 서면 팔봉리 1290-2,"숙박,콘도,리조트","스키장,스노우보드,실내워터파크,편안한,등산",13139708,소노벨 비발디파크,1
1,강원도 홍천군 서면 팔봉리 1290-2,"레저,테마,워터파크","실내워터파크,파도풀,노천온천,재미있는,휴식",11795570,오션월드,2
2,강원도 홍천군 두촌면 천현리 산134-1,"여행,명소,산,고개","휴양림,등산,막국수,편안한,계곡",11491290,가리산,3
3,강원도 홍천군 서면 팔봉리 1290-2,"숙박,콘도,리조트","스키장,실내수영장,산책로,편안한,휴식",13284318,소노펠리체 비발디파크,4
4,강원도 홍천군 두촌면 천현리 776,"자연명소,휴양림,산림욕장","휴양림,짚라인,캠핑,재미있는,등산",11490993,가리산자연휴양림,5
...,...,...,...,...,...,...
3208,경상북도 고령군 덕곡면 노리,"여행,명소,계곡","계곡,저수지,삼겹살,깨끗한,경치",21652251,상비리계곡,16
3209,경상북도 고령군 운수면 신간리 산123,"숙박,캠핑,야영장",NaN,1298840811,대가야 캠프타운,17
3210,경상북도 고령군 대가야읍 장기리 532,"여행,명소,보물","유적,암벽",20103855,고령 장기리 암각화,18
3211,경상북도 고령군 쌍림면 용리 187,"종교,불교","대나무,유물,저수지",11663973,반룡사,19
3212,경상북도 고령군 다산면 좌학리 191,"여행,명소,근린공원",NaN,20662075,좌학근린공원,20

In [5]:
import time

In [6]:
driver = webdriver.Chrome('../chromedriver.exe')

In [7]:
xmf = pd.DataFrame(columns =['분위기', '인기토픽', '찾는목적', '인기월', '10', '20', '30', '40', '50', '60',
       'name'])
df2 = pd.DataFrame(columns= xmf.columns)
df2

Empty DataFrame
Columns: [분위기, 인기토픽, 찾는목적, 인기월, 10, 20, 30, 40, 50, 60, name]
Index: []

In [8]:
start_time =time.time()
error = []
for nb , idx in enumerate(df['id1'].values[:500]):
    md = {}
    tpc = {}
    obj = {}
    list1 = [md,tpc,obj]
    temp2 ={}
    tn = {}
    tw = {}
    th = {}
    fr = {}
    ft = {}
    sx= {}
    temp3 =[tn,tw,th,fr,ft,sx]
    try:
        driver.get('https://pcmap.place.naver.com/place/{}/home'.format(idx))
        time.sleep(1)
        spl =driver.find_element_by_link_text('더보기')
        spl.click()
        soup = BeautifulSoup(driver.page_source, 'html')
        div =  soup.select('div.place_detail_wrapper > div:nth-child(4) > div > div.place_section._1r18o')
        ul = div[0].select('div')[0].select('div ul')
        for j in range(3):
            for num, i in enumerate(ul[0].select('li')[j].select('span')):
                if num == 0:
                    tmp = i.text
                elif num ==1:
                    list1[j][tmp] = i.text.replace(', ','')
                else:
                     list1[j][tmp] +='|'+ i.text.replace(', ','')
        em = div[0].select('div')[0].select('h3 em')
        temp2['인기월'] = em[0].text
        ul2 = div[0].select('#bar_chart_container ul')
        for i in range(6):
            tmp = ul2[0].select('li')[i].text.split('%') 
            temp3[i][tmp[1][1:]] =tmp[0]
        xmf =pd.concat([pd.DataFrame(md,index= [nb]) ,pd.DataFrame(tpc, index=[nb]),pd.DataFrame(obj, index=[nb]),
                  pd.DataFrame(temp2, index=[nb]),pd.DataFrame(tn,index=[nb]),pd.DataFrame(tw, index=[nb]),
                  pd.DataFrame(th, index=[nb]),pd.DataFrame(fr, index=[nb]),pd.DataFrame(ft, index=[nb]),pd.DataFrame(sx, index=[nb])],axis=1)
        xmf['name'] = df.loc[nb,'name']

        df2 = pd.concat([df2,xmf],axis=0)
    
    except:
        error.append(nb)
    if nb % 300 == 10:

In [9]:
df2

,분위기,인기토픽,찾는목적,인기월,10,20,30,40,50,60,name
0,재미있는|유럽풍|깨끗한|화려한|편안한,볼링|눈썰매|스노우보드|스키장|워터파크,가족여행|커플여행|가을여행|등산|휴식,"7월, 8월",15.127733333333307,19.639733333333318,33.60053333333331,34.157333333333305,13.884533333333323,10.593599999999977,소노벨 비발디파크
1,재미있는|화려한|편안한|쾌적한|깨끗한,수영장|유수풀|온천|파도풀|워터파크,가족여행|비오는날|온천여행|휴식|나들이,"1월, 9월",94.85999999999997,97.16549999999998,90.13049999999997,95.91749999999996,56.73099999999993,51.29099999999993,오션월드
2,재미있는|호젓한|조그마한|깨끗한|편안한,계곡|휴양림|모노레일|막국수|폭포,휴식|경치|산행|등산|레포츠,"6월, 7월",18.13866666666667,31.194666666666667,46.65533333333334,66.221,81.75533333333331,81.33366666666666,가리산
4,재미있는|편안한|깨끗한,계곡|게임장|캠핑|휴양림|짚라인,가족여행|산행|힐링|등산|레포츠,"7월, 8월",32.54866666666666,44.738000000000014,63.281666666666666,78.95133333333332,78.27766666666665,78.52866666666665,가리산자연휴양림
5,낭만적인|깨끗한|화려한|아담한|운치있는,휴양림|전나무숲길|은행나무길|막국수|공원,드라이브|가을여행|단풍여행|단풍구경|등산,"10월, 11월",14.664941176470586,31.67317647058824,41.27976470588235,45.88611764705881,47.492235294117634,48.309882352941166,홍천은행나무숲
6,분위기좋은|조그마한|깨끗한|화려한|편안한,도시락|동물농장|공연|동물원|테마파크,피크닉|나들이|동물체험|승마체험|휴식,"9월, 10월",36.754999999999875,83.21099999999994,97.01699999999992,74.30199999999988,35.67399999999988,44.736999999999924,알파카월드
7,호젓한|깨끗한|화려한|편안한|고즈넉한,계곡|캠핑|휴양림|산책|물놀이장,경치|산행|힐링|등산|가족여행,"7월, 9월",15.939529411764703,23.49835294117646,38.79435294117648,48.31670588235294,44.23388235294117,47.116705882352946,삼봉자연휴양림
8,아담한|깨끗한|편안한|아기자기,꺽지|계곡|유원지|다슬기|캠핑,경치|산행|가족여행|등산|휴식,"6월, 7월",10.945176470588242,26.448705882352947,47.14470588235294,52.099999999999994,45.84564705882353,44.84941176470586,팔봉산관광지
9,편안한,공방|트래킹|동물농장|산책|느린우체통,태교여행|가족여행|힐링|등산|저염식,"10월, 11월",25.00000000000001,48.63849999999996,77.09599999999998,88.75499999999994,88.57049999999997,99.15199999999999,힐리언스 선마을

In [ ]:
dd
list1

In [88]:
temp2

{'인기월': '3월, 4월'}

In [133]:
df2 = pd.DataFrame(columns= xmf.columns)
df2 = pd.concat([df2,xmf],axis=0)
df2

,분위기,인기토픽,찾는목적,인기월,10,20,30,40,50,60,name
0,재미있는|깨끗한,계곡|캠핑|유원지|다슬기|참게탕,가족여행|힐링|휴식,"3월, 4월",25.00000000000001,65.66549999999997,89.49299999999995,86.05549999999997,25.00000000000001,25.00000000000001,오션월드

In [101]:
md.items(),tpc.items(),obj.items()

(dict_items([('분위기', '재미있는|깨끗한')]),
 dict_items([('인기토픽', '계곡|캠핑|유원지|다슬기|참게탕')]),
 dict_items([('찾는목적', '가족여행|힐링|휴식')]))

In [124]:
xmf =pd.concat([pd.DataFrame(md,index= [0]) ,pd.DataFrame(tpc, index=[0]),pd.DataFrame(obj, index=[0]),
          pd.DataFrame(temp2, index=[0]),pd.DataFrame(tn,index=[0]),pd.DataFrame(tw, index=[0]),
          pd.DataFrame(th, index=[0]),pd.DataFrame(fr, index=[0]),pd.DataFrame(ft, index=[0]),pd.DataFrame(sx, index=[0])],axis=1)
xmf['name'] = df.loc[1,'name']
xmf

,분위기,인기토픽,찾는목적,인기월,10,20,30,40,50,60,name
0,재미있는|깨끗한,계곡|캠핑|유원지|다슬기|참게탕,가족여행|힐링|휴식,"3월, 4월",25.00000000000001,65.66549999999997,89.49299999999995,86.05549999999997,25.00000000000001,25.00000000000001,오션월드