In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

In [4]:
df = pd.read_excel("../../scrapyproject/scrapyproject/file/naverPlace/가볼만한곳.xlsx")

In [6]:
driver = webdriver.Chrome('../chromedriver.exe')

In [ ]:
xmf = pd.DataFrame(columns =['분위기', '인기토픽', '찾는목적', '인기월', '10', '20', '30', '40', '50', '60',
       'name','with_search'])
df2 = pd.DataFrame(columns= xmf.columns)
df2

In [ ]:
df3 = df2.copy()

In [11]:
df3

Empty DataFrame
Columns: [분위기, 인기토픽, 찾는목적, 인기월, 10, 20, 30, 40, 50, 60, name]
Index: []

In [12]:
start_time =time.time()
error = []
for nb , idx in enumerate(df['id1'].values):
    md = {}
    tpc = {}
    obj = {}
    list1 = [md,tpc,obj]
    temp2 ={}
    tn = {}
    tw = {}
    th = {}
    fr = {}
    ft = {}
    sx= {}
    temp3 =[tn,tw,th,fr,ft,sx]
    try:
        driver.get('https://pcmap.place.naver.com/place/{}/home'.format(idx))
        
        spl =driver.find_element_by_link_text('더보기')
        spl.click()
        soup = BeautifulSoup(driver.page_source, 'html')
        div =  soup.select('div.place_detail_wrapper > div:nth-child(4) > div > div.place_section._1r18o')
        ul = div[0].select('div')[0].select('div ul')
        for j in range(3):
            for num, i in enumerate(ul[0].select('li')[j].select('span')):
                if num == 0:
                    tmp = i.text
                elif num ==1:
                    list1[j][tmp] = i.text.replace(', ','')
                else:
                     list1[j][tmp] +='|'+ i.text.replace(', ','')
        em = div[0].select('div')[0].select('h3 em')
        temp2['인기월'] = em[0].text
        ul2 = div[0].select('#bar_chart_container ul')
        for i in range(6):
            tmp = ul2[0].select('li')[i].text.split('%') 
            temp3[i][tmp[1][1:]] =tmp[0]
        xmf =pd.concat([pd.DataFrame(md,index= [nb]) ,pd.DataFrame(tpc, index=[nb]),pd.DataFrame(obj, index=[nb]),
                  pd.DataFrame(temp2, index=[nb]),pd.DataFrame(tn,index=[nb]),pd.DataFrame(tw, index=[nb]),
                  pd.DataFrame(th, index=[nb]),pd.DataFrame(fr, index=[nb]),pd.DataFrame(ft, index=[nb]),pd.DataFrame(sx, index=[nb])],axis=1)
        xmf['name'] = df.loc[nb,'name']

        df2 = pd.concat([df2,xmf],axis=0)
    
    except:
        error.append(nb)
    if nb % 300 == 0 and nb != 0 :
        end_time = time.time()
        print(end_time - start_time)
        start_time = time.time()
df2

137.48237800598145
33.66199088096619
33.892372608184814
27.797670125961304
264.4801416397095
1299.8624160289764
2074.550269842148
1978.4131426811218
1978.9256167411804
1951.4129626750946

,분위기,인기토픽,찾는목적,인기월,10,20,30,40,50,60,name
1,재미있는|화려한|편안한|쾌적한|깨끗한,수영장|유수풀|온천|파도풀|워터파크,가족여행|비오는날|온천여행|휴식|나들이,"1월, 9월",93.18649999999997,96.27699999999997,90.35649999999997,96.16449999999995,56.11299999999998,50.836499999999965,오션월드
3,유럽풍|럭셔리한|우아한|편안한|쾌적한,치킨|야경|수영장|산책|볼링,가족여행|경치|드라이브|휴식|나들이,"1월, 12월",11.03755555555555,16.317999999999984,46.28777777777776,46.27466666666664,21.38555555555555,19.250666666666653,소노펠리체 비발디파크
5,낭만적인|깨끗한|화려한|아담한|운치있는,휴양림|전나무숲길|은행나무길|막국수|공원,드라이브|가을여행|단풍여행|단풍구경|등산,"10월, 11월",14.67976470588236,31.89176470588235,41.96894117647057,46.71435294117648,48.224705882352936,49.67764705882353,홍천은행나무숲
6,분위기좋은|조그마한|깨끗한|화려한|편안한,도시락|동물농장|공연|동물원|테마파크,피크닉|나들이|동물체험|승마체험|휴식,"9월, 10월",36.730999999999966,83.23899999999998,99.93999999999994,76.89399999999993,37.85099999999987,47.72999999999995,알파카월드
7,호젓한|깨끗한|화려한|편안한|고즈넉한,계곡|캠핑|휴양림|산책|물놀이장,경치|산행|힐링|등산|가족여행,"7월, 9월",15.88329411764706,23.46141176470588,38.88141176470588,48.38494117647059,43.96329411764705,47.199764705882345,삼봉자연휴양림
...,...,...,...,...,...,...,...,...,...,...,...
3193,재미있는|아늑한|고즈넉한|옛모습|깨끗한,박물관|대나무|체험학습|뗏목|테마파크,전통체험|딸기체험|유적|드라이브|주말여행,"4월, 10월",25.00000000000001,54.98999999999996,86.93749999999997,91.99299999999995,81.56299999999997,87.16999999999999,개실마을
3194,재미있는|화려한|편안한|신비한|깨끗한,캠핑|썰매장|테마파크|물놀이장|수영장,휴식|딸기체험|촬영지|체험관|유물,"9월, 10월",25.00000000000001,45.278999999999996,93.63749999999995,94.64799999999998,55.026499999999956,25.00000000000001,대가야역사테마관광지
3198,화려한|작은규모|웅장한,유적지|박물관|테마파크|산책|산책로,나들이|경치|숨겨진|유물|체험관,"3월, 4월",25.00000000000001,64.3155,76.29249999999996,81.22949999999999,76.32599999999998,25.00000000000001,지산동고분군
3201,친절하고|재미있는|친절한|포근한|작은규모,사파리|실내동물원|동물농장|동물원|공원,딸기체험|데이트|동물체험|드라이브|나들이,"9월, 10월",25.00000000000001,62.465499999999984,96.70499999999996,73.78249999999996,25.00000000000001,25.00000000000001,미니멀동물원
3203,재미있는,저수지|야외공연장|박물관|공연|트릭아트,체험관,"2월, 7월",81.47799999999997,56.95399999999998,76.01499999999997,88.51299999999998,69.90499999999997,25.00000000000001,가얏고마을

In [ ]:
start_time =time.time()
error = []
for nb , idx in enumerate(df['id1'].values):
    md = {}
    tpc = {}
    obj = {}
    list1 = [md,tpc,obj]
    temp2 ={}
    tn = {}
    tw = {}
    th = {}
    fr = {}
    ft = {}
    sx= {}
    temp3 =[tn,tw,th,fr,ft,sx]
    try:
        driver.get('https://pcmap.place.naver.com/place/{}/home'.format(idx))
        time.sleep(1)
        spl =driver.find_element_by_link_text('더보기')
        spl.click()
        soup = BeautifulSoup(driver.page_source, 'html')
        div =  soup.select('div.place_detail_wrapper > div:nth-child(4) > div > div.place_section._1r18o')
        ul = div[0].select('div')[0].select('div ul')
        for j in range(3):
            for num, i in enumerate(ul[0].select('li')[j].select('span')):
                if num == 0:
                    tmp = i.text
                elif num ==1:
                    list1[j][tmp] = i.text.replace(', ','')
                else:
                     list1[j][tmp] +='|'+ i.text.replace(', ','')
        em = div[0].select('div')[0].select('h3 em')
        temp2['인기월'] = em[0].text
        ul2 = div[0].select('#bar_chart_container ul')
        for i in range(6):
            tmp = ul2[0].select('li')[i].text.split('%') 
            temp3[i][tmp[1][1:]] =tmp[0]
        xmf =pd.concat([pd.DataFrame(md,index= [nb]) ,pd.DataFrame(tpc, index=[nb]),pd.DataFrame(obj, index=[nb]),
                  pd.DataFrame(temp2, index=[nb]),pd.DataFrame(tn,index=[nb]),pd.DataFrame(tw, index=[nb]),
                  pd.DataFrame(th, index=[nb]),pd.DataFrame(fr, index=[nb]),pd.DataFrame(ft, index=[nb]),pd.DataFrame(sx, index=[nb])],axis=1)
        xmf['name'] = df.loc[nb,'name']

        df3 = pd.concat([df3,xmf],axis=0)
    
    except:
        error.append(nb)
    if nb % 300 == 0 and nb != 0 :
        end_time = time.time()
        print(end_time - start_time)
        start_time = time.time()
df3

2578.8282902240753

In [ ]:
df3.to_excel('../selenium_file/naverPlace_전부.xlsx')

In [ ]:
df2.to_excel('../selenium_file/naverPlace_전부.xlsx')

In [10]:
df2.index = df2.index + 2603

,분위기,인기토픽,찾는목적,인기월,10,20,30,40,50,60,name
1,깨끗한|신비한|평화로운,폭포|둘레길|트래킹|해변|일출명소,힐링|경치|데이트|드라이브|가족여행,"7월, 8월",16.674352941176465,36.88799999999999,41.314117647058815,48.25623529411763,46.756,45.05670588235293,오션월드
3,호젓한|깨끗한|몽환적인|편안한|웅장한,폭포|온천|공원|산책|계곡,경치|산행|등산|숨어있는|휴식,"9월, 10월",25.00000000000001,53.507000000000005,64.20399999999997,87.72799999999994,92.55649999999996,96.413,소노펠리체 비발디파크
7,깨끗한|화려한|편안한,저수지|임실치즈|전망대|붕어|호수,경치|드라이브|등산|산행|체험관,"3월, 4월",25.00000000000001,73.77399999999999,83.39099999999996,89.695,88.79149999999998,94.37149999999997,삼봉자연휴양림
8,재미있는,농장|피자|임실치즈|테마파크|목장,가족여행|경치|가족나들이|체험관|기차여행,"9월, 10월",25.00000000000001,73.48649999999999,86.60449999999994,84.56049999999995,70.5195,25.00000000000001,팔봉산관광지
9,아늑한|분위기좋은|운치있는|몽환적인|신비로운,저수지|구절초|전망대|붕어|호수,힐링|경치|드라이브|등산|산행,"9월, 10월",25.00000000000001,69.29999999999995,90.73799999999996,92.07699999999998,83.23799999999996,86.98049999999998,힐리언스 선마을
...,...,...,...,...,...,...,...,...,...,...,...
590,재미있는|아늑한|고즈넉한|옛모습|깨끗한,박물관|대나무|체험학습|뗏목|테마파크,전통체험|딸기체험|유적|드라이브|주말여행,"4월, 10월",25.00000000000001,54.98999999999996,86.93749999999997,91.99299999999995,81.56299999999997,87.16999999999999,구례예술인마을
591,재미있는|화려한|편안한|신비한|깨끗한,캠핑|썰매장|테마파크|물놀이장|수영장,휴식|딸기체험|촬영지|체험관|유물,"9월, 10월",25.00000000000001,45.278999999999996,93.63749999999995,94.64799999999998,55.026499999999956,25.00000000000001,설봉공원
595,화려한|작은규모|웅장한,유적지|박물관|테마파크|산책|산책로,나들이|경치|숨겨진|유물|체험관,"3월, 4월",25.00000000000001,64.3155,76.29249999999996,81.22949999999999,76.32599999999998,25.00000000000001,덕평공룡수목원
598,친절하고|재미있는|친절한|포근한|작은규모,사파리|실내동물원|동물농장|동물원|공원,딸기체험|데이트|동물체험|드라이브|나들이,"9월, 10월",25.00000000000001,62.465499999999984,96.70499999999996,73.78249999999996,25.00000000000001,25.00000000000001,원적산
600,재미있는,저수지|야외공연장|박물관|공연|트릭아트,체험관,"2월, 7월",81.47799999999997,56.95399999999998,76.01499999999997,88.51299999999998,69.90499999999997,25.00000000000001,복하천수변공원

In [88]:
temp2

{'인기월': '3월, 4월'}

In [133]:
df2 = pd.DataFrame(columns= xmf.columns)
df2 = pd.concat([df2,xmf],axis=0)
df2

,분위기,인기토픽,찾는목적,인기월,10,20,30,40,50,60,name
0,재미있는|깨끗한,계곡|캠핑|유원지|다슬기|참게탕,가족여행|힐링|휴식,"3월, 4월",25.00000000000001,65.66549999999997,89.49299999999995,86.05549999999997,25.00000000000001,25.00000000000001,오션월드

In [101]:
md.items(),tpc.items(),obj.items()

(dict_items([('분위기', '재미있는|깨끗한')]),
 dict_items([('인기토픽', '계곡|캠핑|유원지|다슬기|참게탕')]),
 dict_items([('찾는목적', '가족여행|힐링|휴식')]))

In [124]:
xmf =pd.concat([pd.DataFrame(md,index= [0]) ,pd.DataFrame(tpc, index=[0]),pd.DataFrame(obj, index=[0]),
          pd.DataFrame(temp2, index=[0]),pd.DataFrame(tn,index=[0]),pd.DataFrame(tw, index=[0]),
          pd.DataFrame(th, index=[0]),pd.DataFrame(fr, index=[0]),pd.DataFrame(ft, index=[0]),pd.DataFrame(sx, index=[0])],axis=1)
xmf['name'] = df.loc[1,'name']
xmf

,분위기,인기토픽,찾는목적,인기월,10,20,30,40,50,60,name
0,재미있는|깨끗한,계곡|캠핑|유원지|다슬기|참게탕,가족여행|힐링|휴식,"3월, 4월",25.00000000000001,65.66549999999997,89.49299999999995,86.05549999999997,25.00000000000001,25.00000000000001,오션월드

In [21]:
df['id1'][601:]

601     1445021965
602       13106152
603       12152598
604       36901076
605       37251106
           ...
3208      21652251
3209    1298840811
3210      20103855
3211      11663973
3212      20662075
Name: id1, Length: 2612, dtype: int64

In [8]:
df['id1'].values

array([13139708, 11795570, 11491290, ..., 20103855, 11663973, 20662075],
      dtype=int64)

In [2]:
import numpy as np
a =[[1,2],[2,1]]
b= [ [4,1], [2,2]]
np.cross(a,b)

array([-7,  2])

In [3]:
def y(x):
    global a
    a=4
    return 0
def f(a):
    a =3
    print(a)
    return a

a=5 
f(a)
print(a)
y(a)
print(a)

3
5
4

In [4]:
arr = [1.4,3.7,4.8,6.3,99.9]

In [6]:
x = arr.pop(3)

In [9]:
arr

[1.4, 3.7, 99.9]

In [8]:
x = arr.pop(2)